@keyframes text {
    from{
        color: $color-scheme-accent;
    }
    to{
        color: $color-scheme-light;
    }
}

@keyframes mouse {
    from{
        opacity: 1;
        top: 5px;
    }
    to{
        opacity: 0;
        top:30px;
    }
}