@keyframes text {
    from{
        color: $color-scheme-accent;
    }
    to{
        color: $color-scheme-light;
    }
}

@keyframes activetext {
    from{
        color: $color-scheme-dark;
    }
    to{
        color: $color-scheme-main;
    }
}

@keyframes mouse {
    from{
        opacity: 1;
        top: 5px;
    }
    to{
        opacity: 0;
        top:30px;
    }
}

@keyframes button {
    from{
        color:$color-scheme-main;

    }
    to{
        color:$color-scheme-dark;

    }
}