html {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    background-color: $color-scheme-bg;
    font-family: $font-family-text;
    font-size: $font-base-size;
    color: $color-scheme-dark;
}

.wrapper {
    width: 100%;
    margin: 0 auto;
    }