.btn {

    text-decoration: none;
    text-transform: uppercase;
    @include horizontal-middle();

    &--yellow{
        background-color: $color-scheme-accent;
        color: $color-scheme-dark;
        box-shadow: 0 1px 1px 1px inset $color-shadow-bg, 0 1px 1px 1px $color-shadow-dark;
    }

    &--big{
        height: 45px;
        width: 120px;
        font-weight: 700;
        padding: 10px 20px;
        border-radius:10px;
    }

}