.main-header {
    position: absolute;
    width: 100%;
    background-color: $color-scheme-dark;
    
    &__logo {
        color: $color-scheme-accent !important;
        display: block !important;
      }
    
    &__menu-icon {
        width: 20px;
        height: 20px;
        background-color: black;
        position: absolute;
        top: 10px;
        right: 10px;
        display: block;

        @include tablet {
            display: none;
          }
          
        @include desktop {
            display: none;
          }
    }

}

.primary-nav {

    float: left;

    &--pull-right {
      float: right;
    }
  
    ul {
      margin: 0;
      padding: 0;
    }
  
    li {
      list-style: none;
      float: left;
      text-transform: uppercase;
      font-weight: 700;
    }
  
    a {
      color: $color-scheme-main;
      text-decoration: none;
      display: none;
      padding: 20px;

      @include tablet {
        display:block;
      }
      
    @include desktop {
          display: block;
      }

    }

  }
