$tablet-width: 768px;
$desktop-width: 1024px;

@mixin tablet {
  @media (min-width: #{$tablet-width}) {
  // @media (min-width: #{$tablet-width}) and (max-width: #{$desktop-width - 1px}) {
    @content;
  }
}

/* @mixin desktop {
  @media (min-width: #{$desktop-width}) {
    @content;
  }
} */

@mixin section-styling(){
    width: 100%;
    background-size: cover;
    display: table;
    background-attachment: fixed;
}

@mixin horizontal-middle(){
    position: absolute;
    left:50%;
    transform: translate(-50%, -50%);
}