@import 'variables';

@mixin section-styling(){
    width: 100%;
    background-size: cover;
    display: table;
    background-attachment: fixed;
}

@mixin horizontal-middle(){
    position: absolute;
    left:50%;
    transform: translate(-50%, -50%);
}