@import url('https://fonts.googleapis.com/css?family=Cantarell|Fjalla+One');

:root {

--color-scheme-main: #00ADB5;
--color-scheme-accent: #F8B500;
--color-scheme-dark: #393E46;
--color-scheme-light: #B7C7E0;
--color-scheme-bg: #ECE8D9;

--font-family-header: 'Fjalla One', sans-serif;
--font-family-text: 'Cantarell', sans-serif;
}