@import url('https://fonts.googleapis.com/css?family=Cantarell|Fjalla+One');

:root {
--colors-background: #F4EEEE;
--colors-nav-background: #55746F;
--colors-nav-shadow: rgba(27,62,60,0.5);
--colors-nav-text: #F4EEEE;

--font-family-header: 'Fjalla One', sans-serif;
--font-family-text: 'Cantarell', sans-serif;
}