@import 'variables';
@import 'navbar';

* {
    box-sizing: border-box;
    margin:0;
    padding:0;
}

body {
    background-color: var(--colors-background);
    font-family: var(--font-family-text);
    color: var(--colors-nav-background);
}
   
#box1{
    height: 100vh;
    width: 100%;
    background-image: url("https://images.unsplash.com/photo-1453785675141-67637e2d4b5c?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=818&q=80");
    background-size: cover;
    display: table;
    background-attachment: fixed;
}
#box2{
    height: 100vh;
    width: 100%;
    background-image: url("https://images.unsplash.com/photo-1526749837599-b4eba9fd855e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1500&q=80");
    background-size: cover;
    opacity: 0.3;
    display: table;
    background-attachment: fixed;
}
#box3{
    height: 100vh;
    width: 100%;
    background-image: url("https://images.unsplash.com/photo-1432405972618-c60b0225b8f9?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1500&q=80");
    background-size: cover;
    display: table;
    background-attachment: fixed;
}

#box4{
    height: 100vh;
    width: 100%;
    background-image: url("https://images.unsplash.com/photo-1432405972618-c60b0225b8f9?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1500&q=80");
    background-size: cover;
    display: table;
    background-attachment: fixed;
}


h1{
    font-family: arial black;
    font-size: 50px;
    color:white;
    margin: 0px;
    text-align: center;
    display: table-cell;
    vertical-align: middle;
}