@import url("https://fonts.googleapis.com/css?family=Cantarell|Fjalla+One");
@import url("https://fonts.googleapis.com/css?family=Cantarell|Fjalla+One");
:root {
  --color-scheme-main: #00ADB5;
  --color-scheme-accent: #F8B500;
  --color-scheme-dark: #393E46;
  --color-scheme-light: #B7C7E0;
  --color-scheme-bg: #ECE8D9;
  --font-family-header: 'Fjalla One', sans-serif;
  --font-family-text: 'Cantarell', sans-serif;
}

:root {
  --color-scheme-main: #00ADB5;
  --color-scheme-accent: #F8B500;
  --color-scheme-dark: #393E46;
  --color-scheme-light: #B7C7E0;
  --color-scheme-bg: #ECE8D9;
  --font-family-header: 'Fjalla One', sans-serif;
  --font-family-text: 'Cantarell', sans-serif;
}

.section-mouse {
  position: absolute;
  top: 93%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.mouse {
  width: 20px;
  height: 35px;
  border-radius: 40%;
  border: 2px solid;
  border-color: var(--color-scheme-dark);
}

.mouse::before {
  content: "";
  width: 6px;
  height: 6px;
  border-radius: 50%;
  position: absolute;
  top: 5px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  background: var(--color-scheme-dark);
  opacity: 1;
  -webkit-animation: mouse 1.5s infinite;
          animation: mouse 1.5s infinite;
}

.mouse span {
  position: absolute;
  top: 140%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.mouse:hover {
  border-color: var(--color-scheme-light);
}

.mouse:hover::before {
  background: var(--color-scheme-accent);
}

.mouse:hover > span {
  color: var(--color-scheme-light);
  -webkit-animation: scroll 1.5s;
          animation: scroll 1.5s;
}

@-webkit-keyframes mouse {
  from {
    opacity: 1;
    top: 5px;
  }
  to {
    opacity: 0;
    top: 30px;
  }
}

@keyframes mouse {
  from {
    opacity: 1;
    top: 5px;
  }
  to {
    opacity: 0;
    top: 30px;
  }
}

@-webkit-keyframes scroll {
  from {
    color: var(--color-scheme-accent);
  }
  to {
    color: var(--color-scheme-light);
  }
}

@keyframes scroll {
  from {
    color: var(--color-scheme-accent);
  }
  to {
    color: var(--color-scheme-light);
  }
}

.main-header {
  width: 100%;
  background-color: var(--color-scheme-dark);
  padding: 8px 16px;
  font-family: var(--font-family-header);
  overflow: hidden;
  border-bottom: 1px solid;
  border-bottom-color: var(--color-scheme-main);
  border-top: 1px solid;
  border-top-color: var(--color-scheme-light);
  z-index: 2;
}

.main-header > div {
  display: inline-block;
  vertical-align: middle;
}

.main-header__logo {
  color: var(--color-scheme-main);
  text-decoration: none;
  font-weight: bold;
  font-size: 22px;
}

.main-nav {
  display: inline-block;
  text-align: right;
  text-transform: uppercase;
  width: calc(100% - 74px);
  vertical-align: middle;
}

.main-nav__items {
  margin: 0;
  padding: 0;
  list-style: none;
}

.main-nav__item {
  display: inline-block;
  margin: 0 16px;
}

.main-nav__item a {
  text-decoration: none;
  color: var(--color-scheme-main);
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  border-top: none;
}

.sticky + .content {
  padding-top: 60px;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--color-scheme-bg);
  font-family: var(--font-family-text);
  color: var(--color-scheme-dark);
}

#section-hero {
  width: 100%;
  background-size: cover;
  display: table;
  background-attachment: fixed;
  height: 100vh;
  background-color: var(--color-scheme-main);
}

#section-about {
  width: 100%;
  background-size: cover;
  display: table;
  background-attachment: fixed;
  height: 100vh;
  background-color: var(--color-scheme-light);
}

#section-portfolio {
  width: 100%;
  background-size: cover;
  display: table;
  background-attachment: fixed;
  height: 100vh;
  background-color: var(--color-scheme-bg);
}

#section-contact {
  width: 100%;
  background-size: cover;
  display: table;
  background-attachment: fixed;
  height: 50vh;
  background-color: var(--color-scheme-main);
}

.content {
  padding: 16px;
}

.active {
  color: var(--color-scheme-accent) !important;
}

h1 {
  font-family: var(--font-family-header);
  font-size: 50px;
  color: var(--color-scheme-dark);
  margin: 0px;
  text-align: center;
  display: table-cell;
  vertical-align: middle;
}
/*# sourceMappingURL=main.css.map */